*{
	font-family: 'Montserrat', sans-serif;
}
/*NAV*/
nav{
	padding: 30px;
}
nav.navbar-toggle{
	background-color: #fed136;
    border-color: #fed136;
    font-size: 12px;
}
.kaushan{
	font-family: 'Kaushan Script', cursive;
}
.logo{
	font-size: 2em;
}
a{
	color: whitesmoke;
}
a:hover{
	color: #fec503;
	background-color: none;
}
.lyellow{
	color: #fec503;
	border: none;
}

/*HEADER*/
header{
	background-image: url(../img/header-bg.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	text-align: center;
	display: block;
}
.portada{
	color: whitesmoke;
	padding-top: 100px;
	padding-bottom: 50px;
}
.droid{
	font-family: 'Droid Serif', serif;
	font-style: italic;
}
.montserrat{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 5em;
}
.yellow{
	background-color: #fec503;
	color: whitesmoke;
	padding: 10px;
	margin-top: 50px;
	padding: 20px 40px;
	font-size: 18px;
}

/*SERVICES*/

#team, #about, #services{
	padding: 50px;
}
.circleyellow{
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}
.cy2{
	font-size: 4em;
}
.cy{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: #fec503;
}
.cy1{
	position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font: normal normal normal 14px/1;
    line-height: inherit;
}


/*PORTFOLIO*/

#portfolio, #team{
	background-color: #eee;
}
#portfolio{
	z-index: 2;
	padding: 50px;
}
#portfolio img{
	margin: 0 auto;
}
.caja-blanca{
	max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px;
}



/* ABOUT  */


/*TEAM*/

#team img{
	border: 8px solid whitesmoke;
	border-radius: 150px;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.list-inline li{
	display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.social li a{
	display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;

}
.social a:hover{
	background-color: #fec503;
}
.fa-twitter, .fa-facebook, .fa-linkedin {
    display: inline-block;
    font: normal normal normal 14px;
    font-size: inherit;
}

/*LOGOS*/
#logos{
	padding: 50px;
}
#contact{
	background-image: url(../img/map-image.png);
	background-color: #222;
	padding-top: 100px;
	padding-bottom: 100px;
}
.l-contact{
	color: whitesmoke;
	padding: 10px;
}
.los-input{
	margin-bottom: 25px;
	height: 42px;
}
.last-input{
	height: 42px;
}
.btn-msg{
	color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
    margin-top: 30px;
}

/*FOOTER*/
footer{
	padding: 30px;
}
.privacy{
	color: #fec503;
}