*{
	font-family: 'Montserrat', sans-serif;
}
body{
	position: relative;
}
/*NAV*/
nav{
	padding: 0px;
}
nav.navbar-toggle{
	background-color: #fed136;
    border-color: #fed136;
    font-size: 12px;
}
.navbar-inverse{
	background-color: rgba(0,0,0,0);
	border-color: rgba(8,8,8,0);
}
.navbar-inverse .navbar-nav>.active>a{
	background-color: #fec503;
	color: #222;
}
.navbar-inverse .navbar-brand{
	color: #fec503;
}
.kaushan{
	font-family: 'Kaushan Script', cursive;
}
.logo{
	font-size: 2em;
}
.navbar-inverse .navbar-nav>li>a{
	color: whitesmoke;
}
.navbar-inverse .navbar-nav>li>a:hover{
	color: #fec503;
	background-color: none;
}
.lyellow{
	color: #fec503;
	border: none;
}

.addscroll{
	background-color: #222;
	padding: 20px;
	margin: 0;
}
.noscroll{
	padding: 20px;
}

/*HEADER*/
header{
	background-image: url(../img/header-bg.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	text-align: center;
	display: block;
}
.portada{
	color: whitesmoke;
	padding-top: 100px;
	padding-bottom: 50px;
}
.droid{
	font-family: 'Droid Serif', serif;
	font-style: italic;
}
.montserrat{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 5em;
}


/*SERVICES*/

#team, #about, #services{
	padding: 50px;
}
.circleyellow{
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}
.cy2{
	font-size: 4em;
}
.cy{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: #fec503;
}
.cy1{
	position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font: normal normal normal 14px/1;
    line-height: inherit;
}


/*PORTFOLIO*/

#portfolio, #team{
	background-color: #eee;
}
#portfolio{
	z-index: 2;
	padding: 50px;
}
#portfolio img{
	margin: 0 auto;
}
.caja-blanca{
	max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px;
}



/* ABOUT  */
#about{
padding-bottom: 180px; 
}
.timeline{
	list-style:none;
	padding:0;
	position:relative;
}
.timeline li:after,.timeline li:before{
	content:" ";
 	display:table;
}
.timeline>li:after{
 	clear:both;
}
.timeline>li .timeline-panel{
 	width:100%;
 	float:right;
 	padding:0 20px 0 100px;
 	position:relative;
 	text-align:left;
}
.timeline li .timeline-image{
 	left:0;
 	margin-left:0;
 	width:80px;
 	height:80px;
 	position:absolute;
 	z-index:100;
 	background-color:#fed136;
 	color:#fff;
 	border-radius:100%;
 	border:7px solid #f1f1f1;
 	text-align:center;
}
.las-h4{
	padding-top: 15px;
}

@media (min-width:768px){
 	.timeline li .timeline-panel{
 		width:41%;
 		float:left;
 		padding:0 20px 20px 30px;
 		text-align:right;
 	}
 	.timeline li.timeline-inverted .timeline-panel{
 		float:right;
 		text-align:left;
 		padding:0 30px 20px 20px;
 	}
	.timeline li .timeline-panel{
		padding:0 20px 20px 100px;
	}
	.timeline li .timeline-image{
		width:170px;
		height:170px;
		margin-left:-85px;
		left:50%;
	}
}

/*TEAM*/

#team img{
	border: 8px solid whitesmoke;
	border-radius: 150px;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.list-inline li{
	display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.social li a{
	display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;

}
.social a:hover{
	background-color: #fec503;
}
.fa-twitter, .fa-facebook, .fa-linkedin {
    display: inline-block;
    font: normal normal normal 14px;
    font-size: inherit;
}

/*LOGOS*/
#logos{
	padding: 50px;
	display: block;
}
#contact{
	background-image: url(../img/map-image.png);
	background-color: #222;
	padding-top: 100px;
	padding-bottom: 100px;
}
.l-contact{
	color: whitesmoke;
	padding: 10px;
}
.los-input{
	margin-bottom: 25px;
	height: 42px;
}
.last-input{
	height: 42px;
}
.btn-msg, .btn-more{
	color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
    margin-top: 30px;
}

/*FOOTER*/
footer{
	padding: 30px;
}
.privacy{
	color: #fec503;
}